---
import Layout from "../layouts/Layout.astro"

---

<Layout content={{title: "404 - Not Found", description: "The page could not be found.", section: ""}} headings={[]} lang="en">
	<p>We're sorry but this page could not be found, maybe the language you were trying to use doesn't exist or the page itself has moved.</p>
</Layout>