<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
  Noch Fragen?
</h3>

<p class="text-slate-900">
  Sprechen sie unseren <a href="mailto:support@spinalcms.com" class="underline hover:no-underline">Support</a> an, falls noch Fragen offen sind.
</p>
