---
import type { CollectionEntry } from "astro:content";
import { i18nInit, t } from '../lib/i18n/utils';

i18nInit(Astro)

export type Props = {
	lang: string;
	docs: Record<string, CollectionEntry<"docs">>;
	url: string;
};
const { lang, docs, url } = Astro.props;

type Entry = CollectionEntry<"docs"> | undefined;

let last: Entry, next: Entry;
let docsArray = Object.values(docs);
for (let i = 0; i < docsArray.length; i++) {
	const article = docsArray[i];

	if (article.slug === url) {
		last = docsArray[i - 1];
		next = docsArray[i + 1];
		break;
	}
}
---

<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
	{t("have-questions")}
</h3>

<p class="text-slate-900">
	{t("still-have-questions")}
</p>
<dl
	class="flex pt-6 mt-6 border-t border-slate-200 max-w-[1400px] mx-auto w-full"
>
	{
		last && (
			<div class="mr-auto text-left">
				<dt class="text-sm font-normal tracking-tight text-slate-600">
					{t("previous")}
				</dt>
				<dd class="mt-1">
					<a
						href={"/" + last.slug}
						class="text-base font-semibold text-slate-900 hover:underline"
					>
						{last.data.section || ""}/{last.data.title}
					</a>
				</dd>
			</div>
		)
	}

	{
		next && (
			<div class="ml-auto text-right">
				<dt class="text-sm font-normal tracking-tight text-slate-600">
					{t("next")}
				</dt>
				<dd class="mt-1">
					<a
						href={"/" + next.slug}
						class="text-base font-semibold text-slate-900 hover:underline"
					>
						{next.data.section || ""}/{next.data.title}
					</a>
				</dd>
			</div>
		)
	}
</dl>
