---
export type Props = {
	title: string;
}

const { title } = Astro.props;
---

<details class="rounded-lg border shadow-sm bg-white flex items-start flex-col my-4 w-fit gap-2 cursor-pointer">
	<summary class="bg-white hover:bg-slate-50 active:bg-slate-100 transition-colors py-4 px-6 rounded-lg font-semibold text-lg">{title}</summary>
	<div class="px-6 py-4">
		<slot></slot>
	</div>
</details>